* {
  font-family: Helvetica;
}

body {
  background-color: #efefef;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  height: 550px;
}

.whitehouse {
  background-image: url(./Images/newwhitehouse.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.jumbotron h1 {
  text-align: center;
  font-size: 3.5em;
  font-weight: bolder;
  opacity: none;
}

.jumbotron p {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.position {
  width: 550px;
}

.myTable {
  margin: 0 auto;
  width: 600px;
}
